.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: 20px;
        .project-title {
            @include sub-header;
            font-size: 16px;
            font-weight: 700;
            color: var(--fg-color);
        }
        .details {
            @include body-text;
        }
        .tools {
            @include body-text;
            color: var(--fg-color-body);
            font-size: 14px;
            font-weight: bold;
        }
    }
}