.skills {
    margin-bottom: 20px;
    margin-right: 20px;
    .title {
        margin-top: 20px;
        @include sub-header;
    }
    .skill {
        @include body-text;
        text-align: left;
            color: var(--fg-color-title-sm);
            font-weight: bold;
            font-size: 14px;
    }
    ul {
        padding-left: 15px;
        list-style-type: disc;
      }
    li::marker {
      size: 14px;
      color: #807d7c;
    }
}